/**********************************
*         Resets                  *
***********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/**********************************
*        Defaults                 *
***********************************/

* {
    font-family: "Amatic SC";
    font-weight: 700;
}

.question-mark { /*question mark fix since not in amatic bold (700)*/
    font-weight: 400;
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, .right-menu .menu:hover {
    text-decoration: none;
    color: #ff822e;
}

.home, .account {
    font-size: 22px;
}

.home h1, .account h1 {
    padding-left: 10px;
}

.home h1 {
    border-bottom: 1px solid black;
}

/**********************************
*        Components               *
***********************************/

form div.title{
    display: block;
    margin:5px 10px 0 10px;
    font-size: 26px;
}

form div.field-input, form div.field {
    display: inline-block;
}

form input {
    font-size: 22px;
    border-radius: 4px;
    display: inline-block;
}

button {
    height: 30px;
    background-color: #000;
    color:#eee;
    font-size: 24px;
    border-radius: 6px;
    margin:0 10px 6px 0px;
}

textarea:focus {
border:none;
outline:none;
}

.error-message {
    color:red;
    margin-left: 10px;
    font-size: 16px;
    display: inline-block;
}

/**********************************
*        Structure                *
***********************************/


/*****begin header (for all pages but landing ***********/
.header { /**/
    height: 45px;
    background-color: #eee;
    text-align: center;
}

.header .container {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.logo-link, .logo { /**/
    display: inline-block;
    margin: 1px;

}

.left-menu {
    display: inline-block;
    width:290px;
    position:absolute;
    top:0;
    left:0;
}


@media screen and (max-width: 650px) {
    .left-menu {
        width:170px;
    }
}

span.navigation {
    display: inline-block;
    float: left;
    font-family: "AmaticSC", Arial;
    font-weight: 700;
}

.navigation span.icon {
    display: inline-block;
    float: left;
    margin-top:10px;
    min-width: 30px; 
}

.navigation .icon-name {
    display: inline-block;
    float: left;
    margin: 11px 25px 0 0;
}

@media screen and (max-width: 650px) {
    .navigation .icon-name {
        display:none;
    }
}

.right-menu {
    width: 290px;
    float:right;
    position: absolute;
    top:0;
    right:0;
}

@media screen and (max-width: 650px) {
    .right-menu {
        width:170px;
    }
}

.search-bar {
    margin-top: 5px;
    float:left;
    margin: ;
}

form.search {
    position: relative;
    background-color: #000;
    border-radius: 6px;
    margin: 4px;
    width: 205px;
}

input.search {
    float:left;
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 10px;
    width: 185px;
    overflow: hidden;
}

input.search:focus {
    border: none;
    outline: none;
}

button.search {
    background-color: blue;
    height:20px;
    width:20px;
    margin:0;
    padding-right:4px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.fa-search { /*mag glass icon in search bar */
    float:right;
    display: inline-block;
    font-size: 13px;
    vertical-align: center;
}

.right-menu .menu {
    width: 35px;
    margin-top: 10px;
    float:right;
}

.menu-content {
    position: absolute;
    width:100px;
    top: 36px;
    right:0;
    z-index: 1000;
    padding: 10px;
    border: 1px solid black;
    background-color: #eee;
    border-radius: 10px;
    text-align: left;
}

.menu-content a {
    display: block;
}

.menu-content button.log-out {
    display:block;
    margin:0;
    padding :0;
    background-color: transparent;
    border:none;
    color: black;
}

.menu-content button.log-out:hover {
     color: #ff822e;
     cursor: pointer;
}
/******* end header *********/

/**** begin structure for landing page ****/

body.landing { /**/
    background-image: url(/bitter/images/img_1.jpg);
    background-size: 100%;
}

.landing .main { /**/
 width:90%;
 margin:auto;
}

.landing .main .content { /**/
    max-width: 980px;
    margin:auto;
    margin-top:60px;
}

.welcome { /**/
    padding:10px 10px 12px 10px;
    width:380px;
    font-size: 36px;
    color: #eee;
    float:left;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 4px;
}

.welcome p { /**/
    font-size: 30px;
}


div.login { /**/
    width:315px;
    background-color: rgba(244, 244, 244, .7);
    border-radius: 4px;
    float:right;
}

div.login form { /**/
    min-height: 100px;
    width:315px;
}

.login input.username { /**/
    margin:0 10px 3px 10px;
    height: 30px;
    width:290px;
    border-radius: 4px;
}

.login input.password { /**/
    margin:0 10px 6px 10px;
    height: 30px;
    width:185px;

}

.remember-me { /**/
    margin:0 0 6px 5px;
}

.login a { /* forgot password */
    margin: 0 0 6px 10px;
    color: #0A748C;
}

button.signin { /**/
    width:90px;
    margin:0 10px 7px 0;
    vertical-align: bottom;
}

div.register { /**/
    width:315px;
    background-color: rgba(244, 244, 244, .7);
    border-radius: 4px;
    float:right;
    margin-top: 20px;
    clear:right;
}

div.login form { /**/
    min-height: 100px;
    width:315px;
}

.register h2{ /**/
    border-bottom: 1px solid #999;
    padding: 5px 0px 5px 10px;
}

.register input.first-name {
    margin: 0 5px 3px 10px;
    height: 30px;
    width: 140px;
}

.register input.last-name {
    margin:0 10px 3px 5px;
    height: 30px;
    width: 140px;
}

.register input.username, .register input.email, .register input.password { /**/
    margin:0 10px 3px 10px;
    height: 30px;
    width:290px;
}

.register input.password { /**/
    margin:0 10px 3px 10px;
    height: 30px;
    width:290px;
}

.register input.dob { /**/
    margin:0 10px 10px 10px;
    height: 30px;
    width:140px;
}

button.register { /**/
    width:140px;
    height: 30px;
    margin: 0 5px 10px 0;
    vertical-align: bottom;
}

 /********** begin structure for home page **********/
body.home, body.account {
    background-image: url('/bitter/images/diagmonds.png');
}

.home .main .container, .account .main .container { 
    max-width:1200px;
    margin: auto;
    margin-top: 15px;
    position: relative;
}

@media screen and (max-width: 1220px) {
    .home .main .container {
        max-width:910px;
    }
}


.left-boxes {
    float:left;
    width:290px;
    margin-right: 10px;
}

.user-summary {
    background-color: #eee;
    height: 250px;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.user-summary .cover-photo, .cover-photo img{
    height:120px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.user-summary .profile-photo {
    background-color: white;
    text-align: center;
    position: absolute;
    top: 75px;
    left: 15px;
    height: 94px;
    width: 94px;
    border-radius: 5px;
}

.user-summary .profile-photo img{
    margin: 2px;
    height: 90px;
    width: 90px;
    border-radius: 5px;

}

.user-summary .names{
    margin-left: 120px;
    overflow: hidden;
}

.user-summary .full-name{
    width: 170px;
    font-size: 28px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-activity {
    text-align: center;
}

.user-activity>span {
    display: inline-block;
    margin-top: 10px;
    overflow: hidden;
}

.rant-count {
    width:77px;
}

.rant-count .number{
    width: 77px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.following-count {
    width: 106px;
}

.following-count .number {
    width: 106px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.follower-count {
    width:80px;
}

.follower-count .number {
    width:80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.write-new {
    background-color: #666;
    margin-bottom: 10px;
    position: relative;
    border-radius: 0 0 10px 10px;
}


.write-new button {
    padding: 0 10px;
    float: right;
}

textarea.new-post {
    margin: 5px 10px;
    padding: 3px;
    width: 270px;
    white-space: pre-wrap;
    font-size: 22px;
    height: 30px;
    background-color: #fff;
    display: inline-block;
    border-radius: 4px;
    resize: none;
    overflow: hidden;
}

.new-post.extend {
    min-height: 160px;

}

.post-options   {
    height: 35px;

}

.trends {
    background-color: #eee;
    min-height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.trends a {
    display: inline-block;
    padding: 0 10px;
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.rants-raves {
    background-color: #eee;
    float: left;
    width: 600px;
    min-height: 300px;
    margin-right: 10px; 
    margin-bottom: 10px;
    border-radius: 10px;
}

.rants-raves h1 {
    padding-left: 10px;
    border-bottom: none;
}


.new-rants {
    min-height: 60px;
    /*border-top: 1px solid black;*/
    text-align: center;
}

.new-rants span {
    display: inline-block;
    margin-top: 15px;
}

.rant {
    min-height: 90px;
    border-top: 1px solid black;
    position: relative;
}

.user-pic {
    width: 50px;
    height: 50px;
    float:left;
    margin:10px 0 0 10px;
}

.rant .content {
    margin:10px 0 25px 70px;
}

.rant .full-name {
    display: inline-block;
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

div.rant span.user-name {
    margin-left: 10px;
}

.rant .rant-age {
    margin-left: 15px;
}


.rant .footer .reply {
    position: absolute;
    bottom:0;
    right: 40px;
}

.right-boxes {
    float:left;
    width:290px;
    position: relative;
    z-index: 100;
}

.who-to-follow {
    background-color: #eee;
    width: 290px;
    min-height: 250px; 
    margin-bottom: 10px;
    float:left;
    border-radius: 10px;
}

.mini-profile {
    padding: 5px 0;
    font-size: 20px;
    clear: left;
    float: left;
}

.mini-profile img {
    float: left;
}

.mini-profile .user-info {
    display: inline-block;
    max-width: 220px;
    margin-left: 5px;
    float:left;
}

.user-info .name {
    display: inline-block;
    margin-left:5px;
    max-width: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.user-info .user-name {
    display: inline-block;
    max-width: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.mini-profile button {
    float:left;
    clear:left;
    margin-left: 5px;
    padding: 0 5px;
    font-size:16px;
    height: 25px;
}

.about-bitter {
    background-color: #eee;
    width: 290px;
    min-height: 250px; 
    margin-bottom: 10px;
    float:left;
    clear:left;
    border-radius: 10px;
}

.about-bitter div {
    padding: 5px 10px;
}

@media screen and (max-width:930px) {

    .home .main .container {
        max-width: 620px;
        margin-top: 0px;
    }

    .user-summary {
        width: 600px;
        margin-bottom: 10px;
    }

}

/*----begin account.php page--------------*/

.account .user-summary {
    border-radius: 10px;
}

.account .bio {
    background-color: #eee;
    margin-top: 10px;
    float:left;
    border-radius: 10px;
}

.account .bio p, .account-info p, .password-reset p, .delete-account p  {
    padding-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

textarea.bio-text {
    display: inline-block;
    margin: 5px 10px 0 10px;
    padding: 3px;
    width: 270px;
    height: 200px;
    white-space: pre-wrap;
    font-size: 22px;
    background-color: #fff;
    border-radius: 4px;
    resize: none;
    overflow: hidden;
}

.account .container { 
    margin:auto;
}

.account-info {
    background-color: #eee;
    float:left;
    width: 290px;
    border-radius: 10px;

}

.account-info form div {
    display: inline-block;
}

.account-info input {
    width:270px;
    margin-left: 10px;
}

.account-info button {
    padding: 0 10px;
    margin-top: 5px;
    float: right;
}

.bio button {
    padding: 0 10px;
    float: right;
}


.password-reset, .delete-account {
    background-color: #eee;
    width: 290px;
    float: left;
    margin: 0 0 10px 10px;
    border-radius: 10px;
}

.password-reset form div {
    display: inline-block;
}

.password-reset input {
    width:270px;
    margin-left: 10px;
}

.password-reset .button, .delete-account .button {
    width: 160px;
    margin:auto;
}

#reset-pw, #delete-account {
    width: 140px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

#save-pw {
    padding: 0 10px;
    margin: 10px;
    float: right;
}

.password-reset input {
    margin-left: 10px;
}
